<!--トップ画面-->
<div>画像内に↓メッセージを載せる</div>
<p>ようこそ、ながのCAKEへ!<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。</p>

<div>サイドにジャンル検索のせる</div>


<h4>新着情報一覧</h4>
<div>画像をおく</div>

<div>全ての商品を見る（リンク）（商品一覧に行くのかな？）</div>