<div class='container'>
  <div class='row'>
     <h4>注文情報確認</h4>
     <table class="table">
       <thead>
         <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
         </tr>
       </thead>
       <!--カート機能で受け取った金額を０にする-->
       <% total = 0 %>
         <tbody>
          <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
          </tr>
         </tbody>
       </table>

      <div class="">
      </div>
  </div>
</div>


